<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>BirdWatchr</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/js/main.js"></script>
</head>
  <body>
    <h1>Birds of NY</h1>
    <a href="/sightings/new">Spotted a bird?</a>
    <br>
    <a href="/demo">Demo</a>
    <br>
    <h3>3 Most Recent Sightings:</h3>
      <script id="sighting-info" type="sighting-template">
        <p>{{date}}: {{gender}} {{species}} — {{location}}</p>
      </script>
  </body>
</html>

